# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
newenvi/
ENV/
build/
dist/
*.egg-info/

# Flask
instance/
.webassets-cache

# Database files
*.db
*.sqlite
*.sqlite3
tegura.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

.pytest_cache/
.coverage
htmlcov/
build/
dist/


